---
draft: false
title: "logo"
date: "2022-01-28"
desc: Thinking of a new logo
tags:
  - design
---

[Creating a new logo](https://youtu.be/obydiUba5ow)

I decided to make a new logo to use as a favicon.
