---
draft: false
title: "logo"
date: "2022-01-29"
coverImage: "logowombo2.jpg"
desc: TODO
tags:
  - todo
---

https://youtu.be/obydiUba5ow

Creating a new logo

I decided to make a new logo to use as a favicon.
