---
draft: false
title: "444"
date: "2022-01-30"
coverImage: image_editor_output_image-1683117709-1643523672068.jpg
desc: Wendy's 4 for 4
tags:
  - random
---

The 4 for $4 from Wendy's is a pretty good deal if they get your order right.
