---
draft: false
title: "wire"
date: "2015-07-27"
desc: My first wire wrappings
tags:
  - art
---

![9](/assets/post/wire/9.jpg)
![eyering](/assets/post/wire/eyering.jpg)
![a](/assets/post/wire/lettera.jpg)
![twistring](/assets/post/wire/twistring.jpg)