---
draft: false
title: "asphalt"
date: "2022-01-26"
desc: An iPad racing game
tags:
  - gaming
  - random
---

I was playing this ipad racing game called Asphalt 9. There's an insane number of subsections, menus, and modes. I don't know how little kids can figure all that out.
