---
draft: false
title: "shortner"
date: "2022-02-07"
coverImage: "shortner.jpg"
desc: How to get custom short URLs
tags:
  - code
---

If you have a domain (website name) registered, you can use it as a custom url shortner. I own ihtfy.com and I use it to make shortcut links to various pages.

For example, the links in the first column redirect to the second column:

| From                      | To                                    |
| ------------------------- | ------------------------------------- |
| https://ihtfy.com         | https://FrankieMercado.com            |
| https://www.ihtfy.com     | https://FrankieMercado.com            |
| https://github.ihtfy.com  | https://github.com/IHTFY              |
| https://yt.ihtfy.com      | https://youtube.com/ihopethisfindsyou |
| https://contact.ihtfy.com | https://frankiemercado.com/contact   |

shortcuts

On Google Domains, you can go to the "Website" tab to add a forwarding address. Note, when a person clicks on your link, they will be redirected to the new address and they won't see your original URL anymore. This is not the case with the method described in [this previous post](https://blog.ihtfy.com/post/redo/). That method requires you have access to the code at the destination, e.g. your own github project where you can add a CNAME file.
