---
title: About Page
layout: about
---

<script>
import data from "$lib/data/site";
import SEO from "$lib/components/SEO.svelte";
import Progress from "$lib/components/Progress.svelte";
</script>

<Progress />

<SEO title="About" />

# About Me
I'm Frankie. I go by ihtfy on most sites.


## This Website
I started with [Elianiva's site](https://github.com/elianiva/elianiva.my.id) and then added some ideas from [Matt Fantinel](https://github.com/matfantinel/matfantinel.github.io).