---
draft: false
title: "grey"
date: "2017-09-29"
desc: A tiny planet
tags:
  - photography
---

Another globe featuring [@nwele](https://www.instagram.com/nwele/)

![Muir Beach](/assets/post/grey/img_7485-panoramaglobetinyraw.jpg) Muir Beach
