---
draft: false
title: "grey"
date: "2017-09-29"
coverImage: "img_7485-panoramaglobesmallrawthumb.jpg"
desc: TODO
tags:
  - TODO
---

Another globe featuring [@nwele](https://www.instagram.com/nwele/)

\[caption id="attachment\_237" align="alignnone" width="1000"\]![IMG_7485 PanoramaGLOBEtinyRAW](/assets/post/grey/img_7485-panoramaglobetinyraw.jpg) Muir Beach\[/caption\]
