---
draft: false
title: "Drunken Crawfish"
date: "2022-01-07"
coverImage: "20220106_221345.jpg"
desc: TODO
tags:
  - TODO
---

Not too much to report today unfortunately. I went out to eat at STIX grill in Fremont. I've been there once, and I really liked the drunken crawfish. They said they're out of season and haven't served them in months. Hopefully they get them again.

I think use Sapporo in the sauce. I don't like beer, but I like whatever they do to make those things.
