---
draft: false
title: "watching videos"
date: "2022-01-24"
coverImage: "image_editor_output_image282321977-1643004589146.jpg"
desc: TODO
tags:
  - todo
---

I played around with the calendar creator again today. Mostly watching videos about sveltekit though.
