---
draft: false
title: "watching videos"
date: "2022-01-23"
desc: Learning about sveltekit
tags:
  - code
---

I played around with the calendar creator again today. Mostly watching videos about sveltekit though.
