---
draft: false
title: "fractal"
date: "2022-01-28"
coverImage: "image_editor_output_image-195184571-1643350305083.jpg"
desc: TODO
tags:
  - TODO
---

I was working on this Mandelbrot fractal viewer. It's still not fully working: I need a better perturbation calculation. The original paper has a different method, but I wasnt able to get that approximation to give sane values.

[Code and Description](https://github.com/IHTFY/mandelbrot)

[Demo](http://mandelbrot.ihtfy.com)
