---
draft: false
title: "cheese"
date: "2022-02-09"
coverImage: "image_editor_output_image491463956-1644466785894.jpg"
desc: 12 year aged cheese
tags:
  - random
  - photography
---

When I was home for Christmas, I tried some old cheese. It was good; a little strange at first but actually quite addictive.

![cheese](/assets/post/cheese/12YOcheese.jpg)