---
draft: false
title: "milk tea doppelgangers"
date: "2022-01-18"
desc: Milktea is cereal milk
tags:
  - random
  - food
---

I've noticed some milk teas taste like breakfast cereals:

- Taro - Cookie Crisp
- Winter Melon - Froot Loops
- Horchata - Cinnamon Toast Crunch
