---
draft: false
title: "PWA"
date: "2022-01-14"
coverImage: "pwa.jpg"
desc: Making the Knight Puzzle a PWA
tags:
  - coding
  - gaming
---

I converted the [Knight Puzzle](https://knightpuzzle.ihtfy.com/) to a PWA. It's cool to be able to turn a website into a mobile app with just a little bit of code. I'll probably convert most of my other code tools and demos I have on github.
