---
draft: false
title: "cat"
date: "2022-02-08"
coverImage: "cat.jpg"
desc: A cat ate a birdie
tags:
  - random
---

I heard something outside my window. I looked out and saw a tabby tail through the leaves. A few seconds later, it pops out at the top of the tree. I can hear baby birds chirping, and I see the cat chewing.

[![cat](http://i3.ytimg.com/vi/WPAhIPJNIDM/maxresdefault.jpg)](https://youtu.be/WPAhIPJNIDM)