---
draft: false
title: "oil change"
date: "2022-01-22"
coverImage: "image_editor_output_image589471186-1642833832319.jpg"
desc: TODO
tags:
  - todo
---

Just did errands today. My car hit 100,000 miles.
