---
draft: false
title: "parallel"
date: "2022-02-25"
desc: A funny way to screenshot a page
tags:
  - website
  - design
---

I canceled the renewal of my WordPress.com subscription, so that will end June 12th. I’ve been keeping my replacement site up to date with new posts. I will probably replace this site before the 13th though. Maybe 1 more week of fixes.