---
draft: false
title: "albinogator"
date: "2017-08-22"
desc: A panorama of an alligator
tags:
  - photography
---

![IMG_6443 PanoramaRAWcropped](/assets/post/albinogator/cover.jpg)

[See Full Resolution](/assets/post/albinogator/img_6443-panoramarawcropped.jpg)

This is just a giant albino alligator at the California Academy of Sciences in San Francisco. This is actually a panorama, too. The full size is 7876x5547.
