---
draft: false
title: "late"
date: "2022-02-15"
coverImage: "late.jpg"
desc: Posting late
tags:
  - random
---

It's 11:41pm. I did get some work done today, and I had a meeting. I went for a drive and got food from a milk tea place near me. I also finished up my taxes; I think I received my last forms today, but I'll wait a bit in case I get anything else.
