---
draft: false
title: "panorama scroll"
date: "2022-01-24"
desc: A funny way to screenshot a page
tags:
  - hack
  - random
---

If you need to take a screenshot of a long web page, you can take a panorama with your phone and just scroll the page down.
