---
draft: false
title: "days go by"
date: "2022-01-12"
desc: A sunset
tags:
  - random
  - photography
---

The clouds looked nice during the sunset today.

![sunset](/assets/post/days-go-by/20220112_222804.jpg)

It always looks better in real life.
