---
draft: false
title: "sveltekit"
date: "2022-01-18"
coverImage: "sveltekit.jpg"
desc: TODO
tags:
  - TODO
---

I started playing around with sveltekit and tailwind CSS today. I was going to work on making the calendar creator but didn't get too far.
