---
draft: false
title: "dash cam"
date: "2022-01-25"
coverImage: "image_editor_output_image-478686964-1643161419772.jpg"
desc: Installing a dash cam
tags:
  - random
---

I installed a dash cam. It was a [Viofo A119 v3](https://amzn.to/3HcfBFf). It was a simple process. I was able to tuck the cable into the headliner along the windshield and stored the excess in the glove box.
